@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
    background-color: white;
}

.list-item .list-item__action {
    opacity: 0;
    transition: all .2s;
}
.list-item:hover .list-item__action {
    opacity: 1;
}

.Mui-selected {
    background-color: color-mix(in srgb, var(--mui-palette-primary-main), white 35%) !important;
    color: white !important;
}

.droppable-newfile.active {
    background-color: rgba(138, 138, 138, 0.75);
}
